.display-section {
  display: flex;
  justify-content: space-around;
  width: 650px;
  color: white;
  margin: auto;
  margin-top: 20px;
  h4 {
    font-size: 25px;
  }
  // border: solid white;
}
.player-score-container,
.tie-game-score-container,
.computer-score-container {
  border: solid 3px #1c2d4c;
  border-radius: 15px;
}
// .tie-game-score,
// .player-score,
// .computer-score {
// }
.computer-display,
.player-display,
.roundWinnerContainer {
  // justify-content: center;
  // border: solid white 1px;
  text-align: center;
  margin: auto;
  width: 180px;
  height: 300px;
  font-size: 15px;
}

.roundWinnerDisplay {
  margin-top: 80px;
  padding-bottom: 30px;
  font-weight: 500;
}
.computer-pick-display,
.player-pick-display {
  font-size: 30px;
  letter-spacing: 0.8px;
  &::first-letter {
    text-transform: capitalize;
  }
}
.restart-button {
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  letter-spacing: 0.8px;
  &:hover {
    background-color: rgb(194, 29, 29);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
  }
}
.selection-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  width: 500px;
  //   border: solid white;
}
#paper,
#scissor,
#rock {
  // color: blue;
  // border: solid #2d86aa;
  padding: 60px;
  border-radius: 50%;
}
#paper,
#scissor,
#rock {
  display: flex;
  align-content: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: #cecaca;
  font-size: 0px;
}
#rock {
  // margin: auto;
  border: solid 10px red;
  background-image: url(../images/icon-rock.jpg);
  box-shadow: 1px 3.5px 1px 1px rgb(171, 28, 28);
  margin: 4px 10px 4px 10px;
  &:active {
    box-shadow: 0 0 0 red;
    margin: 6px 10px 2px 10px;
  }
  &:hover {
    background-color: #cdd7f1;
    cursor: pointer;
    transition: all 0.2s;
  }
}
#paper {
  background-image: url(../images/icon-paper.jpg);
  border: solid 10px #4e6bf3;
  box-shadow: 1px 3.5px 1px 1px #3652cd;
  margin: 4px 10px 4px 10px;
  &:active {
    box-shadow: 0 0 0 #4e6bf3;
    margin: 6px 10px 2px 10px;
  }
  &:hover {
    background-color: #cdd7f1;
    cursor: pointer;
    transition: all 0.2s;
  }
}
#scissor {
  background-image: url(../images/icon-scissors.jpg);
  border: solid 10px #eaa418;
  box-shadow: 1px 3.5px 1px 1px #d39518;
  margin: 4px 10px 4px 10px;
  &:active {
    box-shadow: 0 0 0 #eaa418;
    margin: 6px 10px 2px 10px;
  }
  &:hover {
    background-color: #cdd7f1;
    cursor: pointer;
    transition: all 0.2s;
  }
}

#paper-rock {
  display: flex;
  width: 450px;
  justify-content: space-between;
}
.rulesModal {
  display: none;
  position: fixed;
  top: 22%;
  left: 34%;
  border-radius: 10px;
  padding: 15px;

  background-color: rgba(0, 0, 0, 0.9);
}
.rulesModal h3 {
  color: white;
  font-size: 40px;
}
.rulesModal span {
  color: white;
  font-size: 35px;
  &:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
  }
}
.rulesImg {
  height: 400px;
  width: 600px;
}
.rulesBtn {
  font-size: 30px;
  width: 160px;
  margin-left: 88%;
  display: block;
  padding: 10px;
  border: none;

  border-radius: 5px;
  border: solid 1px white;
  &:active {
    transform: scale(0.95);
    transition: 0.3s;
    // border: none;
    border-radius: 5px;
  }
  &:hover {
    background-color: black;
    color: white;
    border: solid 1px white;
    transition: 0.5s ease-out;
    cursor: pointer;
  }
}
.modalHeader {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67%;
  margin-left: auto;
  margin-bottom: 30px;
}

#confetti-canvas {
  top: 0;
  position: absolute;
}
