/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  scrollbar-width: none;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/* Attributes &amp; states
   ========================================================================== */

/**
 * Add the correct box sizing in Firefox.
 * 1. Include the correct width and height in IE 8.
 * 2. Include the correct box sizing in IE 8.
 * 3. Include the correct box sizing in IE 11.
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * 1. Use the user's configured `font-family` for monospace fonts.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em; /* 2 */
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10+.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

select {
  /* 1 */
  text-transform: none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/* Responsive images
   ========================================================================== */

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Tabular data
   ========================================================================== */

/**
 * 1. Remove the table spacing in Firefox and Safari.
 * 2. Remove the table spacing in Edge 18- and IE.
 */

table {
  border-collapse: collapse; /* 1 */
  border-spacing: 0; /* 1 */
}
